
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul style="padding-left: 0">
    <li>@Html.ActionLink("List checkout requests", "ListCheckoutRequests")</li>
    <li>@Html.ActionLink("Return a book", "Return")</li>
</ul>