@model ICollection<LibraryAdmin2.Models.Author>

<ul style="padding-left: 0">
    @{foreach (var author in Model)
    {
        <li>@Html.ActionLink(@author.Name, "Details", "Author", new { id = author.Id }, null)</li>
    }
    }
</ul>