@if (ViewBag.Name != null)
{
    <div>
        <h4>Top Borrower</h4>
        <hr />
        <dl>
            <dd>
                <strong>@ViewBag.Name</strong> <br /><br />
                <em>@ViewBag.Num books borrowed</em>
            </dd>
        </dl>
    </div>
}